footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
} 
footer p {
    margin-bottom: .25rem;
}
.youtube-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
 }
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-width: 768px) {
    .youtube-wrapper{
        height: 300px;
    }
}
@media (min-width: 991px) {
    .youtube-wrapper{
        height: 400px;
    }
}